{
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "plugins": [
        "react",
        "react-hooks"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "linebreak-style": [
            "error",
            "unix"
        ],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    }
}
